:root {
    color-scheme: light;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: block;
}

a {
    font-weight: 500;
    color: #FDA4BA;
    text-decoration: inherit;
}
a:hover {
    color: #FDA4BA;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #FDA4BA;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}